[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://gitcode.com/GitHub_Trending/go/googletest
	branch = release-1.8.1
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://gitcode.com/GitHub_Trending/js/json.git
[submodule "thirdparty/mockcpp"]
	path = thirdparty/mockcpp
	url = https://gitcode.com/Ascend/mockcpp.git
	branch = ascend_mindstudio_mockcpp_master
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
	branch = boost-1.81.0
