[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://gitcode.com/GitHub_Trending/js/json.git
[submodule "thirdparty/mockcpp"]
	path = thirdparty/mockcpp
	url = https://gitcode.com/Ascend/mockcpp.git
	branch = ascend_mindstudio_mockcpp_master